<div class="container-fluid d-flex justify-content-center vw-100">
  <mat-card class="text-center col-10">
    <mat-card-title>Tipo de Cambio</mat-card-title>
    <mat-card-subtitle>Dolar Oficial</mat-card-subtitle>
    <mat-card-content class="d-flex justify-content-around">
      <div class="text-danger">
        <p>Compra</p>
        <p>$ 97,33</p>
      </div>
      <div class="text-success">
        <p>Venta</p>
        <p>$ 103,33</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
