<mat-toolbar>
  <div class="custom-user-nav-contaier">
    <div class="d-flex align-items-center justify-content-between">
      <img class="navbar-img" src="{{ currentUser.image }}" alt="" />
      <h5>{{ currentUser.name }}</h5>
    </div>
  </div>
  <span class="example-spacer"></span>
  <div class="menu-hide">
    <button mat-button [routerLink]="['/operations/']">Operaciones</button>
    <button mat-button [routerLink]="['/balance/']">Balance</button>
    <button mat-button [routerLink]="['/movements/']">Movimientos</button>
    <button mat-button [routerLink]="['/users/']">Usuarios</button>
    <button mat-button disabled>Plazo Fijo</button>
    <button mat-button>Divisas</button>
    <button mat-button color="accent" (click)="handleLogout()">Logout</button>
  </div>

  <button
    mat-icon-button
    class="example-icon hidden"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-button [routerLink]="['/operations/']">Operaciones</button>
    <button mat-button [routerLink]="['/balance/']">Balance</button>
    <button mat-button [routerLink]="['/movements/']">Movimientos</button>
    <button mat-button [routerLink]="['/users/']">Usuarios</button>
    <button mat-button disabled>Plazo Fijo</button>
    <button mat-button>Divisas</button>
    <button mat-button color="accent" (click)="handleLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
