<div
  class="
    container-fluid
    h-100
    d-flex
    flex-column
    justify-content-center
    align-items-center
  "
>
  <h1 class="mb-5">Usuarios</h1>
  <mat-card
    class="example-card col-10 col-lg-6 m-2 shadow-2-strong"
    *ngFor="let user of users"
  >
    <mat-card-title-group>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      <img mat-card-sm-image src="{{ user.image }}" />
    </mat-card-title-group>
    <mat-card-content>
      <mat-expansion-panel
        class="mt-2"
        hideToggle
        [disabled]="user.id === currentUser.id"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="d-flex justify-content-center">
            Transferir
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <form
            [formGroup]="form"
            #formDirective="ngForm"
            (ngSubmit)="handleTransfer(form, formDirective, user.id)"
          >
            <mat-form-field appearance="outline" class="w-100 top-0">
              <mat-label>Monto</mat-label>
              <input
                matInput
                type="number"
                formControlName="amount"
                placeholder="0"
                class="text-end"
              />

              <mat-error
                *ngIf="this.form.controls.amount.errors"
                class="invalid-feedback"
              >
                <div *ngIf="this.form.controls.amount.errors.required">
                  Un monto es requerido
                </div>
                <div
                  *ngIf="
                    this.form.controls.amount.errors.min ||
                    this.form.controls.amount.errors.pattern
                  "
                >
                  Solo números mayore que 0
                </div>
              </mat-error>
            </mat-form-field>
            <div class="w-100 text-center mt-2">
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="form.invalid"
              >
                Continuar
              </button>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
