/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "~@sweetalert2/theme-material-ui/material-ui.scss";

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-btn {
  height: 60px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-simple-snackbar {
  justify-content: center !important;
}

.red-snackbar {
  color: hotpink;

  a {
    width: 100%;
    text-align: center;
  }
}

.green-snackbar {
  color: lime;

  a {
    width: 100%;
    text-align: center;
  }
}

.mat-menu-panel {
  min-width: 180px !important;
  height: 100% !important;
  max-height: 100% !important;
  max-width: 100% !important;
}
.mat-menu-content {
  display: flex !important;
  flex-direction: column !important;
}
